<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @sweetness, partial: "card", as: :sweetness %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "sweetnesses/sweetness_coffee_orders" %>
  </div>
</div>
  <!-- Show Page Customization end -->
